@import '../../styles/variables.scss';
@import '../../styles/placeholder.scss';
@import '../../styles/mixins.scss';

.wrap {
    box-sizing: border-box;
    @include size(100%, 100%);
    background: $edit-bg-color;
    .fields {
        width: 70%;
        display: inline-block;
    }

    .avatar {
        float: right;
        width: 230px;
        height: 230px;
    }
    
    .chip-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        .chip {
            margin: 6px !important;
        }
    }

    .photo-wrap {
        display: flex;
        align-items: center;
        position: relative;
        padding: 20px;
        .photo-upload-wrap {
            height: 150px;
            margin-right: 10px;
            .photo-preview {
                display: inline-block;
                @include size(150px, 150px);
                overflow: hidden;
                border-radius: 2px;
                box-shadow: 0 0 10px $gray-light;
                .preview-img {
                    float: left;
                    width: 150px;
                    height: 150px;
                }
            }
            .photo-upload-btn {
                @include size(150px, 150px);
                transform: translateY(-100%);
                text-align: center;
                line-height: 36px;
                opacity: 0;
                color: $white;
                cursor: pointer;
                background: $theme-color;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
                rgba(0, 0, 0, 0.12) 0px 1px 4px;
                border-radius: 2px;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                &:hover {
                    background: $theme-color-light;
                }
            }
        }
        .upload-photo-btn {
            margin: 0 10px;
            @include size(40px, 40px);
            text-align: center;
            line-height: 40px;
            font-size: 30px;
            color: $white;
            cursor: pointer;
            background: rgb(255, 64, 129);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
                        rgba(0, 0, 0, 0.23) 0px 3px 10px;
            border-radius: $radius-base;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            &:hover {
                background-color: rgb(255, 141, 180);
            }
        }
    }

    .timeline-wrap {
        margin-top: 15px;
        .timeline-item {
            &:hover {
                .edit-btn-wrap {
                    display: inline-block;
                }
            }
            .edit-btn-wrap {
                display: none;
                margin-top: -20px;
                .edit-btn {
                    width: 20px!important;
                    height: 20px!important;
                }
            }
        }
    }
    
    .dialog-wrap {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        @include size(100%, 100%);
        background: rgba(0, 0, 0, 0.54);
        transform: translateZ(0px);
        transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
}
