@import '../../styles/variables.scss';
@import '../../styles/placeholder.scss';
@import '../../styles/mixins.scss';

.wrap {
    @extend %edit-card;
    .head {
        border-bottom: 1px $edit-border-color solid;
        .title {
            font-size: 24px;
            line-height: 1.5em;
            font-weight: normal;
        }
    }
}