@import '../../styles/variables.scss';
@import '../../styles/placeholder.scss';
@import '../../styles/mixins.scss';

.main {
    padding: 30px 0;
}

.wrap {
    max-width: $width-base;
    margin: 0 auto;
    .base-info-wrap {
        padding: 0 16px;
        .img-wrapper {
            @include center();
        }
    }
    .form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .btn-more {
        margin-top: 12px;
    }
}

.photo {
    margin: 50px 0;
}

.photo-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 20px 20px 0px;
    .photo-upload-wrap {
        // height: 0px;
        position: relative;
        margin-right: 10px;
        .photo-preview {
            display: inline-block;
            @include size(150px, 210px);
            overflow: hidden;
            border-radius: 2px;
            box-shadow: 0 0 10px $gray-light;
            .preview-img {
                float: left;
                width: 150px;
                height: 210px;
            }
        }
        .photo-upload-btn {
            width: 150px;
            text-align: center;
            line-height: 36px;
            // opacity: 0;
            color: $white;
            cursor: pointer;
            background: $theme-color;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
            rgba(0, 0, 0, 0.12) 0px 1px 4px;
            border-radius: 2px;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            &:hover {
                background: $theme-color-light;
            }
        }
    }
}

//step2
.chipWrapper {
    overflow: hidden;
    margin-bottom: 30px;
}


//step3 
.addBtn {
    margin-bottom: 40px;
}

.memorabilia-example {
    position: relative;
    width: 100%;
    margin: 5% 0;
    padding: 4% 6% 4% 6%;
    font-family: $font-stack-base;
    border: 1px solid #e4ecf3;
    overflow: hidden;
    transition: all .3s ease;
    .memorabilia-example-name {
        font-weight: bold;
    }
    .memorabilia-example-title {
        text-align: center
    }
}

.memorabilia-example:hover {
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    transform: translateY(-6px);
}