.main {
    padding: 30px 0;
}

//step1
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

//step2
.chipWrapper {
    overflow: hidden;
    margin-bottom: 30px;
}


//step3 
.addBtn {
    margin-bottom: 40px;
}