@import '../../styles/_variables.scss';
@font-face
{
font-family: JosefinSans-Regular;
src: url('../../../static/fonts/JosefinSans-Regular.ttf'),
}
@font-face
{
font-family: JosefinSans-Italic;
src: url('../../../static/fonts/JosefinSans-Italic.ttf'),
}

.wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0;
}

.main {
    position: absolute;
    left: 50%;
    top: 30px;
    bottom: 30px;
    width: 960px;
    height:  747px;
    transform: translateX(-50%);
    padding: 20px;
    overflow-y: hidden;
    background: $white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.left {
    display: flex;
    align-items: center;
    float: left;
    width: 55%;
    height: 100%;
    transition: opacity .3 ease-in-out;
    overflow: hidden;
    img {
        // position: fixed;
        // top: 50%;
        // transform: translateY(-50%);
        width: 100%;
        border-radius: 8px;
    }
}

.right {
    height: 707px;
    overflow-y: auto;
    float: right;
    width: 45%;
    // height: 100%;
    font-family: 'JosefinSans-Regular';
    text-align: center;
    transition: opacity .3 ease-in-out;
    &::-webkit-scrollbar {display:none}
    .logo {
        padding-top: 15%;
    }

    h4 {
        margin: 3% 0;
        font-size: 18px;
        line-height: 1.1;
        text-transform: uppercase;
    }
    
    p {
        overflow: hidden;
        height: 260px;
        padding:20px 80px;
        margin-bottom: 40px;//增加按钮时修改此处
        font-family: '微软雅黑';
        font-style: italic;
        font-weight: 600;
        line-height: 30px;
        color: #585757;
    }

    .btn-group {
        display: flex;
        height: 160px;
        flex-direction: column;
        
    }
    
    .btn {
        font-family: 'JosefinSans-Italic';
        margin:auto;
        width: 40%;
        text-transform: capitalize;
    }

    .btn-back{
        margin:20% auto 10%;
    }
    

    .icon-group {
        margin: 10px auto;
        display: inline-flex;
        .icon {
            margin: 15px;
        }
    }

    .info-list {
        padding: 0px 80px;
        font-family: '微软雅黑';
        // font-style: italic;
        font-weight: 600;
        line-height: 30px;
        color: #585757;
        li {
            line-height: 50px;
        }
    }

    .tags {
        padding:20px 40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
         
    }

    .timeline {
        padding: 20px 40px;
    }

}

.right-btm {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    .btn-back{
        margin:10px auto 30px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}