// placeholder
%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}
