@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

body {
    height: inherit;
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
    background: $primary-color;
}

.container {
    color: black;
    font-size: 30px;
    .hello {
        @include center;
    }
}
