@import '../../styles/variables.scss';
@import '../../styles/placeholder.scss';

html,
body {
    height: 100%;
}

body {
    font-family: $font-stack-base;
    -webkit-font-smoothing: antialiased;
    background: $primary-color;
}

.container {
    height: inherit;
    color: $black;
    font-size: 30px;
    // @extend %center;
}
